<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860955060928-atm92dfau4tn0322db0sqo1bs2sarr3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860955060928-atm92dfau4tn0322db0sqo1bs2sarr3p</string>
	<key>API_KEY</key>
	<string>AIzaSyBBi9gvpQO3h74NCcRbpCMD9JQRrXd7d0o</string>
	<key>GCM_SENDER_ID</key>
	<string>860955060928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myMeals</string>
	<key>PROJECT_ID</key>
	<string>mymeals-12137</string>
	<key>STORAGE_BUCKET</key>
	<string>mymeals-12137.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860955060928:ios:99816acb595f18ab619b25</string>
</dict>
</plist>